*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #75B9BE;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    margin-top: 20px;
}
.container{
    /* background-color: #F3732F; */
    height: 37rem;
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game{
    /* background-color: lightblue; */
    height: 25rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

}
.box{
    height: 29%;
    width:30%;
    display: flex; 
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 16px;
    background-color: rgba(137, 12, 106, 0.12);
    font-size: 2rem;
    color:white ;
}
#button{
    margin-top: 45px;
    height: 2rem;
    width:9rem;
    background-color:rgba(187, 184, 41, 0.404); 
    color: white;
    font-size: 84%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    border-bottom: 2px solid black;
    box-shadow: -3px 5px 5px rgba(6, 9, 25, 0.231);
}
.msg-container{
    background-color:rgba(44, 46, 42, 0.831);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    height: 30rem;
    width:30rem;
    border-radius: 20px;
}
.msg-container p{
    font-family:'Times New Roman', Times, serif;
    font-size: 3.5rem;
    color: rgb(177, 187, 182);
    border-bottom: 2px solid rgb(26, 123, 172);
    border-radius: 8px;
}
#new-btn{
    margin-top: 45px;
    height: 2rem;
    width:9rem;
    background-color:rgba(187, 184, 41, 0.404); 
    color: white;
    font-size: 84%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    border-bottom: 2px solid black;
    box-shadow: -3px 5px 5px rgba(6, 9, 25, 0.231);
}
.hide{
    display: none;
}